<!DOCTYPE html>
<html lang="en">

<head>
  <!-- 이 주석은 클라이언트에게 노출됨 -->
  {# 헤더 (css, js, meta data) #}
  {% include ['common/head.html','1.html','2.html'] ignore missing %}
</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    {# Preloader : 로딩 #}
    {% include "common/preloader.html" %}

    {# Navbar : 탑 메뉴 #}
    {% include "common/navbar.html" %}

    {# Sidebar : 왼쪽 메뉴, 특정 페이지 진입하는 경로(시작점) #}
    {% include "common/sidebar.html" %}

    {# Content : 해당 페이지의 본문, 페이지별로 바뀌는 지점 #}
    {% include "pages/webcamUpload_content.html" %}

    {# Footer : 회사명등 Copyright #}
    {% include "common/footer.html" %}

    {# Setting : 설정 #}    
    {% include "common/setting.html" %}
  </div>
  <!-- ./wrapper -->

  {# JS #}
  {% include "common/foot.html" %}
</body>

</html>