<!-- 
    이 문서는  html5 이다. 이 문서의 루트엘리먼트는  html이다 
    브라우저는 이 첫번째 표식을 보고 html을 파싱할때 버전과 규격을 이해하게 된다
    html -> 문서(Document) 
    엘리먼트(element) : 시작태그+콘텐츠+종료태그 => <a>링크</a>
    html을 읽어서 파싱해서 문서객체모델(DOM)로 메모리에 로드하는 방식:표준적으로 사용
        : 브라우저가 랜더링할대 
        : JS가 HTML 을 조작할대
        : 웹스크레핑(BS4), 웹크롤링(Selenum) 사용시 기본 원리
    생략 가능
-->
<!DOCTYPE html>
<html>
  <head>
    <!-- 메타 데이터(데이터를 기술하는 데이터)를 표현, 화면에 보이지 않는다 -->
  </head>
  <body>
    <!-- 화면에 보이는 부분 담당 -->
    <div>
      <p>홈페이지 {{ name }}</p>
    </div>
  </body>
</html>
